* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.maps {
  width: 500px;
  margin: 0 auto;
}

.leaflet-container {
  height: 50vh;
}

.img_User {
  border-radius: 50%;
  border: 3px solid white;
}
